body {
  background-color: #DDDDDD;
  background-image: url("images/bkgr.png");
  min-width: 1200px;
  min-height: 1100px;
  padding: 10px;
}

#header {
  background-image: url("images/header.jpg");
  background-repeat: no-repeat;
  height: 250px;
  padding:1px;
}

#container {
  border-radius: 5px;
  border: 1px solid #979797;
  box-shadow: 0px 0px 5px #000000;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FCFCFC;
  text-align: center;

}

#content {
  background-color: white;
  font: 16px Georgia, sans-serif;
  min-height: 800px;
  padding: 0px;
  padding: 60px;
  text-align: justify;
}

#menu {
  background-color: black;
  opacity: 0.60;
  filter:alpha(opacity=60); /* IE's opacity*/
  margin-top: 155px;
  height: 50px;
  text-align: left;
  color: white;
  width: 1000px;
}

#menu li {

  padding-top:15px;
  display: inline-block;
  margin-left: 15px;
}

#menu li a {
  font-weight: bold;
  color: white;
}

#menu li a:hover {
  color: silver;
}
a {
  text-decoration: none;
}

#calendar {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}


h1 {
  padding: 15px;
  color: #020049;
  font: 24px Georgia, serif;
  font-weight: bold;
  padding-bottom: 0px;
  text-align: center;
  height: 15px;
}

#cal {
  text-align: center;
}

#nav a {
  padding: 20px;
}

#nav {
  padding-top:40px;
}

#found_results table
{
border: solid 1px black;
}

#found_results td, th
{
padding: 3px;
}

